body {
  background-image: url(../../assets/pawel-nolbert-4u2U8EO9OzY-unsplash.jpg);
}
.todo-list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.Trabalho {
  background: #0EDAFC;
}

.Pessoal {
  background: #FBAE0D;
}

.Casa {
  background: #FF5B5C;
}

.Estudo {
  background: #BB1B9B;
}

.Outros {
  background: #9817AB;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.todo-select {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  margin-top: 20px;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-button[disabled] {
  background: #ccc;
  cursor: not-allowed; 
  color: #999;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-select.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}


.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.toggle-button {
  padding: 10px 20px;
  background: #5d0cff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 16px;
}

.toggle-button:hover {
  background: #7c3dff;
}

.search {
  background: #161a2b;
  padding: 10px;
  margin-bottom: 2px;
}

.search input {
  padding: 10px;
  border: 2px solid #5d0cff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  transition: border 0.3s;
}

.search input::placeholder {
  color: #999;
}

.search input:focus {
  border: 2px solid #7c3dff;
}

h2 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.filter {
  background: #161a2b;
  padding: 10px;
  margin-bottom: 20px;
  align-self: center;
}

.filter-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.filter-options div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter select {
  height: 40px;
  padding: 10px;
  border: 2px solid #5d0cff;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  margin-right: 10px;
}

.filter p {
  font-size: 16px;
  color: #fff;
  margin-right: 8px;
  display: flex;
  align-items: center;
  height: 40px;
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}

